*{
margin: 0px;    /*margem*/
border:0px;     /*bordas*/
padding:0px;    /*encosta tudo a 0*/
}

/*________________________________________ESTRUTURA________________________________________*/

body{
    background: #000000;
}

/*Dimensão da pagina*/
#site{
padding:0px;
width: 100%;
height: 1060px;
z-index: 4;
background: url(Imagens/bg.png);
}

/*Loginbar*/
#loginbar{
width: 100%;
height: 30px;
margin-top: 0px;
margin-bottom: 0px;
background-color: #999999;
margin: auto;
}

/*Conteudo da loginbar*/
#Conteudologinbar{
width: 1075px;
height: 30px;
margin-top: 0px;
margin-bottom: 0px;
background-color: #999999;
margin: auto;
}

/*Menu*/
#menu{
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
width: 100%;
height: 115px;
background: url(Imagens/Menu_bar2.png);
position:fixed;
z-index: 3;
}

/*Conteudo do Menu*/
#menubar{
margin-top: 0px;
margin-bottom: 0px;
margin: auto;
width:538px;
height: 85px;
background: none;
}

/*Logo do Menu*/
#menulogo{
margin-top: 0px;
margin-bottom: 0px;
margin: auto;
width:1075px;
height: 85px;
background: none;
}

/*Conteudo*/
#conteudo{
width: 1075px;
height: 1060px;
background: url(Imagens/bg2.png);
margin: auto;
}

/*Conteudo*/
#marcas{
width:1075px;
height: 150px;
background: url(Imagens/bannermarcas.png)
margin: auto;
}

/*Barra de fundo*/
#bottombar{
width: 100%;
height: 100px;
background: #000000;
}

/*Barra de fundo*/
#conteudobottombar{
width: 1075px;
height: 70px;
margin: auto;
margin-top: 30px;
background: #000000;
}

/*Criação da região do banner*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/*__________________________________CRIAÇÃO DAS TABELAS__________________________________*/


table.configs {
border: 0px solid black;
margin: auto;
padding: 100px 60px;
margin-left: 25px;
}

table.marcas {
border: 0px solid black;
margin: auto;
padding: 0px 0px;
margin-left: 0px;
}

table.topbar {
border: 0px solid black;
margin: auto;
padding: 0px 0px;
margin-left: 25px;
margin-bottom: 2px;

}

th {
border: 0px solid black;
margin: auto;
padding: 25px 1px;
}

td {
border: 0px solid black;
margin: auto;
padding: 0px 0px;
text-decoration:none;
color: #0A0000;
font-family: sans-serif;
font-size: 20px;
}

/*________________________________________IMAGENS________________________________________*/

/*Estruturação do logo*/
img.logo{
float:left;
margin-top: 8px;
}

/*__________________________________________MENU__________________________________________*/

/*Defenição das dimensões da barra de menu*/
#menu ul{
width:800px;
height: 141px;
}

/*Detalhes da barra de menu*/
#menu ul li{
 display:inline; /*retirar os pontinhos da lista*/
 float: right; /*começar onde está indicado*/
 position: relative; /*posiciona no site*/
 top:20px; /*afasta menu do "top"*/
 left: 0px;
 font-size: 11px; /*tamanho da letra*/
 text-align: center; /*alinha texto ao centro*/
 width:150px; /*espaçamento*/
 list-style:none;
}

/*_____________________________________TIPOS DE LETRA_____________________________________*/

/*Defenição da letra de texto*/
a{
text-decoration:none;
color: #FFFFFF;
font-family: sans-serif;
}

p.titulobottom{
text-decoration:none;
color: #2B9734;
font-family: Candara;
display: inline;
}

a.paginas{
text-decoration:none;
color: #2B9734;
font-family: sans-serif;
display: inline;
}

a.paginas:hover{
text-decoration:none;
color: #FFFFFF;
font-family: sans-serif;
display: inline;
cursor: pointer;<
}

p.autorizacao{
text-decoration:none;
color: #666666;
font-family: sans-serif;
display: inline;
}

/*_________________________________________BUTÕES_________________________________________*/

/*Defenição da letra do botão button*/
.button {
display: block;
padding: 1em;
background: none;
text-decoration: none;
text-align: center;
color: white;
padding:0px;
margin: auto;
}

/*Defenição da letra do botão redes*/
.buttonredes {
padding: 1em;
background: none;
text-decoration: none;
text-align: center;
color: white;
padding: 2px 10px;
cursor: pointer;
}

/*Defenição do efeito fade*/
.hvr-fade {
display: block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
overflow: hidden;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: color, background-color;
transition-property: color, background-color;
padding: 14px 25px;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
color: #2B9734;
}

/*Defenição do efeito grow*/
.hvr-grow {
background:none;
display: block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
z-index: 2;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

/* Defenição do efeito shrink */
.hvr-shrink {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


/*________________________________________DROPMENU________________________________________*/

/*Defenição do botão do dropmenu*/
.dropbtn {
margin-top: 0px;
position: static;
padding: 10px 68px;
font-size: 11px; /*tamanho da letra*/
background: none;
text-decoration: none;
text-align: center;
color: white;
vertical-align: left;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
overflow: hidden;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: color, background-color;
transition-property: color, background-color;
padding: 10 px 68px;
cursor: pointer;
}

.dropbtn a:hover {
margin-top: 0px;
position: static;
padding: 1px;
background: url(../dropmenu.PNG);
text-decoration: none;
text-align: center;
color: white;
margin: 0px;
vertical-align: left;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
overflow: hidden;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: color, background-color;
transition-property: color, background-color;
padding: 10px 68px;
cursor: pointer;
}

/* Celula de conteudo */
.dropdown {
position: static;
display: block;
}

/* Faz baixar o conteudo */
.dropdown-content {
display: none;
position: static;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links dentro do Dropdown */
.dropdown-content a {
color: black;
padding: 14px 25px;
text-decoration: none;
display: block;
}

/* Muda a cor com a:hover */
.dropdown-content a:hover {
background-color: #B8B8B8;
}

/* Mostra o menu */
.dropdown:hover .dropdown-content {
display: block;
}

/* Muda a cor de fundo */
.dropdown:hover .dropbtn {
text-decoration: #2B9734;
}
