    *{
margin: 0px;    /*margem*/
border:0px;     /*bordas*/
padding:0px;    /*encosta tudo a 0*/
}

/*________________________________________ESTRUTURA________________________________________*/


body{
    background: #000000;
}

/*Dimensão da pagina*/
#site{
padding:0px;
width: 100%;
height: 1250px;
z-index: 4;
background: url(Imagens/bg.png);
}

/*Loginbar*/
#loginbar{
width: 100%;
height: 30px;
margin-top: 0px;
margin-bottom: 0px;
background-color: #999999;
margin: auto;
}

/*Conteudo da loginbar*/
#Conteudologinbar{
width: 1075px;
height: 30px;
margin-top: 0px;
margin-bottom: 0px;
background-color: #999999;
margin: auto;
}

/*Menu*/
#menu{
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
width: 100%;
height: 115px;
background: url(Imagens/Menu_bar2.png);
position:fixed;
z-index: 3;
}

/*Conteudo do Menu*/
#menubar{
margin-top: 0px;
margin-bottom: 0px;
margin: auto;
width:538px;
height: 85px;
background: url(Imagens/Menu_bar.png);
}

/*Logo do Menu*/
#menulogo{
margin-top: 0px;
margin-bottom: 0px;
margin: auto;
width:1075px;
height: 85px;
background: none;
}

/*Conteudo*/
#conteudo{
width:1100px;
height: 1175px;
background: url(Imagens/bg2.png);
margin: auto;
}

/*Barra de fundo*/
#bottombar{
width: 100%;
height: 100px;
background: #000000;
}

/*Barra de fundo*/
#conteudobottombar{
width: 1075px;
height: 70px;
margin: auto;
padding-top: 30px;
background: #000000;
}


/*__________________________________CRIAÇÃO DAS TABELAS__________________________________*/

table.configs {
border: 0px solid black;
margin: auto;
padding: 0px 95px;

}

table.resolucoes {
border: 0px solid black;
margin: auto;
padding: 30px 10px;

}

th.resolucoes {
border: 0px solid black;
margin: auto;
padding: 10px 5px;
}

th {
border: 0px solid black;
margin: auto;
padding: 35px 35px;
}

td {
border: 0px solid black;
margin: auto;
padding: 0px 0px;
text-decoration:none;
color: #0A0000;
font-family: sans-serif;
font-size: 20px;
}

table.topbar {
border: 0px solid black;
margin: auto;
padding: 0px 0px;
margin-left: 25px;
margin-bottom: 2px;
}

/*________________________________________IMAGENS________________________________________*/

/*Estruturação do logo*/
img.logo{
float:left;
margin-top: 8px;
}

/*__________________________________________MENU__________________________________________*/

/*Defenição das dimensões da barra de menu*/
#menu ul{
width:800px;
height: 141px;
}

/*Detalhes da barra de menu*/
#menu ul li{
 display:inline; /*retirar os pontinhos da lista*/
 float: right; /*começar onde está indicado*/
 position: relative; /*posiciona no site*/
 top:20px; /*afasta menu do "top"*/
 left: 0px;
 font-size: 11px; /*tamanho da letra*/
 text-align: center; /*alinha texto ao centro*/
 width:150px; /*espaçamento*/
 list-style:none;
}


/*_____________________________________TIPOS DE LETRA_____________________________________*/

/*Defenição da letra de texto*/
a{
text-decoration:none;
color: #FFFFFF;
font-family: sans-serif;
}

p.titulobottom{
text-decoration:none;
color: #2B9734;
font-family: Candara;
display: inline;
}

a.paginas{
text-decoration:none;
color: #2B9734;
font-family: sans-serif;
display: inline;
}

a.paginas:hover{
text-decoration:none;
color: #FFFFFF;
font-family: sans-serif;
display: inline;
cursor: pointer;<
}

p.autorizacao{
text-decoration:none;
color: #666666;
font-family: sans-serif;
display: inline;
}

/*_________________________________________BUTÕES_________________________________________*/

/*Defenição da letra do botão button*/
.button {
display: block;
padding: 1em;
background: none;
text-decoration: none;
text-align: center;
color: white;
padding:0px;
margin: auto;
}

.buttonredes {
padding: 1em;
background: none;
text-decoration: none;
text-align: center;
color: white;
padding: 2px 10px;
cursor: pointer;
}

.buttonvoltar {
background: none;
cursor: pointer;
width: 330px;
height: 104px;
border: none;
}

.buttonconfig {
background: url(Imagens/bt_configurar.png);
cursor:pointer;
width: 330px;
height: 104px;
border: none;
}

/*Defenição do efeito fade*/
.hvr-fade {
display: block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
overflow: hidden;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: color, background-color;
transition-property: color, background-color;
padding: 14px 25px;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
color: #2B9734;
}

/*Defenição do efeito grow*/
.hvr-grow {
background:none;
display: block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
z-index: 2;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

/* Defenição do efeito shrink */
.hvr-shrink {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


/*________________________________________DROPMENU________________________________________*/

/*Defenição do botão do dropmenu*/
.dropbtn {
margin-top: 0px;
position: static;
padding: 10px 68px;
font-size: 11px; /*tamanho da letra*/
background: url(Imagens/drop_menu.png);
text-decoration: none;
text-align: center;
color: white;
vertical-align: left;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
overflow: hidden;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: color, background-color;
transition-property: color, background-color;
padding: 10 px 68px;
cursor: pointer;
}

.dropbtn a:hover {
margin-top: 0px;
position: static;
padding: 1px;
background: url(../dropmenu.PNG);
text-decoration: none;
text-align: center;
color: white;
margin: 0px;
vertical-align: left;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
overflow: hidden;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: color, background-color;
transition-property: color, background-color;
padding: 10px 68px;
cursor: pointer;
}

/* Celula de conteudo */
.dropdown {
position: static;
display: block;
}

/* Faz baixar o conteudo */
.dropdown-content {
display: none;
position: static;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links dentro do Dropdown */
.dropdown-content a {
color: black;
padding: 14px 25px;
text-decoration: none;
display: block;
}

/* Muda a cor com a:hover */
.dropdown-content a:hover {
background-color: #B8B8B8;
}

/* Mostra o menu */
.dropdown:hover .dropdown-content {
display: block;
}

/* Muda a cor de fundo */
.dropdown:hover .dropbtn {
text-decoration: #2B9734;
}

/*___________________________________CHECKBOX DOS JOGOS___________________________________*/


/*  CSGO    */
input#CSGO[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/CSGO.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#CSGO[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  H1Z1    */
input#H1Z1[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/H1Z1.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#H1Z1[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  GTA    */
input#GTA[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/GTA.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#GTA[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  LOL    */
input#LOL[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/LOL.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#LOL[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  FIFA    */
input#FIFA[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/FIFA.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#FIFA[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  FORZA    */
input#FORZA[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/FORZA.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#FORZA[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  BF1    */
input#BF1[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/BF1.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#BF1[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  MINECRAFT    */
input#MINECRAFT[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/MINECRAFT.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#MINECRAFT[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  OVERWATCH    */
input#OVERWATCH[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/OVERWATCH.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#OVERWATCH[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  WITCHER    */
input#WITCHER[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/WITCHER.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#WITCHER[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  ROCKET    */
input#ROCKET[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/ROCKET.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#ROCKET[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  DOTA2    */
input#DOTA2[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_GAMING/DOTA2.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#DOTA2[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}
/*_________________________________CHECKBOX DOS PROGRAMAS_________________________________*/

/*  WORD    */
input#WORD[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/WORD.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#WORD[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  POWERPOINT    */
input#POWERPOINT[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/POWERPOINT.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#POWERPOINT[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  EXCEL    */
input#EXCEL[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/EXCEL.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#EXCEL[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  ANDROID    */
input#ANDROID[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/ANDROID.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#ANDROID[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  PHOTOSHOP    */
input#PHOTOSHOP[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/PHOTOSHOP.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#PHOTOSHOP[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  ILLUSTRATOR    */
input#ILLUSTRATOR[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/ILLUSTRATOR.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#ILLUSTRATOR[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  MYSQL    */
input#MYSQL[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/MYSQL.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#MYSQL[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  VMWARE    */
input#VMWARE[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/VMWARE.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#VMWARE[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  JAVA    */
input#JAVA[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/JAVA.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#JAVA[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  BLENDER    */
input#BLENDER[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/BLENDER.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#BLENDER[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  PREMIERE    */
input#PREMIERE[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/PREMIERE.png);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#PREMIERE[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*  SONYVEGAS    */
input#SONYVEGAS[type=checkbox]:before {
content:"";
display:inline-block;
width:150px; height:150px;
background: url(Imagens/ICONS_WORKSTATION/SONYVEGAS.jpg);
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
}

input#SONYVEGAS[type=checkbox]:checked:before {
box-shadow: inset 0 0 0 4px #2B9734, 0 0 1px transparent;
}

/*_________________________________RADIOS DAS RESOLUÇÕES_________________________________*/

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border-radius: 12px;
  border:4px solid #e1e1e1;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
transition-duration: 0.5s;
  border:4px solid #2B9734;
}